.back-btn{
    position: relative;
    margin-top: 0.5vh;
}

.lottie-container{
    position: relative;
    float: left;
    height: 6vh;
    width:5wh;
    margin-top: 2vh;
}

.back-header{
    margin-top: 3vh;
    width:5wh;
    float: left;
    padding-left: 1vh;
}
