.chat.container{
    height: 12vh;
    width: 100%;
    border-radius: 3vh;
    margin-top: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.chat.container:hover{
    box-shadow: 0 0 10px rgba(79, 150, 216, 0.4), 0 0 10px rgba(56, 58, 173, 0.2) inset;
}

.chat.row{
    height: 100%;
}

.last-msg.col-7{
    margin: auto; 
}

.last-time.col-2, .chat-image.col-3{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-profile.img-fluid{
    height: 11vh;
    border-radius: 50%;
}