.bottom-navbar.nav-link{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 3vh;
}


#up{
    background-color: rgb(188, 216, 252);
    transform: translateY(-5vh);
    border-radius: 3vh;
}

.nav-link-content{
    padding-right: 1vh;
}
